<div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display">Hello, Everyone!</h1>
                <p class="lead">Dev Books is a sample application used to learn fundamentals of building Angular 2 applications.</p>
                <hr class="my-4">
                <p>Find out more about all books we have in stock.</p>
                <p class="lead">
                    <a [routerLink]="['/books']" role="button" class="btn btn-primary btn-lg">All Books</a>
                </p>
            </div>
        </div>
</div>